{% extends "app_g/padre.html" %}

{% block contenidoQueCambia %}

<h2>Este es el about</h2>
<p class="lead">Sobre mi:</p>

    <li>Hola, soy Leandro Longo vivo en Argentina, Marcos Paz, alumno de Coder Comision 50205. Docente,estudiante en Licenciatura de Informatica en la Universidad de Hurlingan.</li>
    <li>Hice varios cursos y me intereso la programacion este es mi primer curso oficial con certificacion.</li>
    <li>No me molesta esta en la PC, tanto como para estudiar como para jugar.</li>
    <li>Saludos</li> 
        {% endblock contenidoQueCambia %}